{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }

    .ziji {
        width: auto;
    }

    .ziji>input {
        width: 300px;
    }

    .layui-btn {
        border-radius: 6px;
        height: 50px;
    }

    .layui-form-lists .layui-btn {
        width: 170px;
    }

    .layui-btn-normal {
        margin-right: 150px;
    }

    .layui-form-item {
        margin-left: 200px;
        margin-top: 80px;
    }

    .seach_laber1 {
        font-size: 13px;
        width: 100px;
        text-align: center;
        color: #333;
    }

    .layui-textarea {
        width: 100%;
    }

    .tips {
        margin-top: 5px;
    }
    .on {
        color: #21A5FA !important;
        border-bottom: solid 3px #21A5FA;
    }

    .distribution_list {
        margin-bottom: 10px;
        border-bottom: solid 1px #D7D7D7;
    }

    .distribution_list ul {
        display: flex;
        align-items: center;
    }

    .distribution_list a {
        font-size: 14px;
        padding: 9px;
        color: #5E5E5E;
    }
</style>

{/block}

<body>
    {block name="content"}
    <form class="layui-form layui-form-lists" action="{:url('admin/Admin/admin_get_star_do')}" method="post" enctype="multipart/form-data">
        {include file="template/_top"/}
        <!-- {if $msg='1'} -->
        <div class="form-item ">
            <label class="form-label " style="width:10%">条件</label>
            <div class="form-input ziji">
                <input type="text" name="star_value[condition]" lay-verify="title" value="{$data['value']['star_value']['condition']}" autocomplete="off" placeholder="                                                              人"
                    class="layui-input">
                <div class="tips">
                    <span class="red">*</span>拉新人数
                </div>
            </div>
        </div>
        <div class="form-item ">
            <label class="form-label " style="width:10%"></label>
            <div class="form-input ziji">
                <input type="text" name="star_value[num]" lay-verify="title" value="{$data['value']['star_value']['num']}" autocomplete="off" placeholder="                                                              次"
                    class="layui-input">
                <div class="tips">
                    <span class="red">*</span>每个新人支付过甩费的次数
                </div>
            </div>
        </div>
        <div class="form-item ">
            <label class="form-label " style="width:10%">获取星光值</label>
            <div class="form-input ziji">
                <input type="text" name="star_value[value]" lay-verify="title" value="{$data['value']['star_value']['value']}" autocomplete="off" placeholder="                                                               p"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="width:100%;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit" id="submit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary"
                    onClick="javascript :history.back(-1);">返回</button>
            </div>

        </div>
        <!-- {else}
        <div class="form-item ">
        <label class="form-label " style="width:20%">条件</label>
        <div class="form-input ziji">
            <input type="text" name="star_value[condition]" lay-verify="title" value="" autocomplete="off" placeholder="    分"
                class="layui-input">
            <div class="tips">
                <span class="red">*</span>拉新人数
            </div>
        </div>
        <div class="form-input ziji">
            <input type="text" name="star_value[num]" lay-verify="title" value="" autocomplete="off" placeholder="    分"
                class="layui-input">
            <div class="tips">
                <span class="red">*</span>每个新人支付过甩费的次数
            </div>
        </div>
    </div>
    <div class="form-item ">
        <label class="form-label " style="width:20%">获取星光值</label>
        <div class="form-input ziji">
            <input type="text" name="star_value[value]" lay-verify="title" value="" autocomplete="off" placeholder="    p"
                class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="width:100%;">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" type="submit" id="submit">保存</button>
            <button type="button" class="layui-btn layui-btn-primary"
                onClick="javascript :history.back(-1);">返回</button>
        </div>

    </div>
        {/if} -->
    </form>
    {/block}
    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], () => {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
        })



    </script>

    {/block}

</body>

</html>