{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }

    .ziji {
        width: auto;
    }

    .ziji>input {
        width: 150px;
    }

    .layui-btn {
        border-radius: 6px;
        height: 50px;
    }

    .layui-form-lists .layui-btn {
        width: 170px;
    }

    .layui-btn-normal {
        margin-right: 150px;
    }

    .layui-form-item {
        margin-left: 200px;
        margin-top: 80px;
    }

    .seach_laber1 {
        font-size: 13px;
        width: 100px;
        text-align: center;
        color: #333;
    }
    .layui-textarea {
        width: 100%;
    }
    .tips {
        margin-top: 5px;
    }
    .on {
        color: #21A5FA !important;
        border-bottom: solid 3px #21A5FA;
    }

    .distribution_list {
        margin-bottom: 10px;
        border-bottom: solid 1px #D7D7D7;
    }

    .distribution_list ul {
        display: flex;
        align-items: center;
    }

    .distribution_list a {
        font-size: 14px;
        padding: 9px;
        color: #5E5E5E;
    }
</style>

{/block}

<body>
    {block name="content"}
    <form class="layui-form layui-form-lists" action="{:url('admin/Admin/admin_message_note_do')}" method="post" enctype="multipart/form-data">
        {include file="template/_top"/}
        <blockquote class="layui-elem-quote news_search">
            <div class="seach_laber1">
                待领取短信提醒
            </div>
        </blockquote>

        <div class="form-item">
            <label class="form-label" style="width:20%">短信</label>
            <div class="form-input">
                <input type="text" name="message[message]" value="{$data['value']['message']['message']}" lay-verify="title" autocomplete="off" 
                placeholder="     尊敬的用户，您好！您有一个新订单，请及时在个人中心中查询！" class="layui-input">
            </div>
        </div>
        <div style="line-height:1px">
            <div class="form-item">
                <label class="form-label" style="width:20%">控制开关</label>
                <div class="form-input">
                    {if $data['value']['message']['status']==1}
                    <input type="radio" name="message[status]" value="1" title="开启" checked="">
                    <input type="radio" name="message[status]" value="0" title="关闭">
                    {else}
                    <input type="radio" name="message[status]" value="1" title="开启" >
                    <input type="radio" name="message[status]" value="0" title="关闭" checked="">
                    {/if}
                    <div class="tips">
                        *关闭该功能不发短信
                    </div>
                </div>
            </div>
        </div>

        <blockquote class="layui-elem-quote news_search">
            <div class="seach_laber1">
                待领取语音提醒
            </div>
        </blockquote>

        <div style="line-height:1px">
            <div class="form-item layui-form-text">
                <label class="form-label" style="width:20%">控制开关</label>
                <div class="form-input">
                    {if $data['value']['bb']==1}
                    <input type="radio" name="bb" value="1" title="开启" checked="">
                    <input type="radio" name="bb" value="0" title="关闭">
                    {else}
                    <input type="radio" name="bb" value="1" title="开启" >
                    <input type="radio" name="bb" value="0" title="关闭" checked="">
                    {/if}
                    <div class="tips">
                        *系统已选好语音文件，如有更换请联系开发团队
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="width:100%;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit" id="submit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary"
                    onClick="javascript :history.back(-1);">返回</button>
            </div>

        </div>
    </form>
    {/block}
    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], () => {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
        })



    </script>

    {/block}

</body>

</html>