
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A 页面</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <style type="text/css">
        body{
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }
        .bar{
            background: #fff;
        }
        .content{
            background: #fff;
            width: 100%;
            overflow-x: hidden;
            padding-bottom: 1rem;
        }
        .content h1{
            font-size: 9rem;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <header class="bar bar-nav">
        <h1 class="title">A 页面</h1>
    </header>
    <div class="content">
        <h1>A</h1>
    </div>


	     <!--<script type="text/javascript" src="//f.moblink.mob.com/3.0.1/moblink.js?appkey=2862712495f4a"></script>-->
		 
		 <!--  AD:7D:09:5D:66:8C:39:4C:61:32:C3:47:6B:54:56:21:2D:AB:52:35:FF: 4E:6B:1F:8F:D3:D0:E1:49:4E:C9:6B  abz3.t4m.cn-->
		 <!--	<script type="text/javascript" src="//acl1.t4m.cn/applink.js"></script> -->
		 
		 
		<script type="text/javascript" src="//abz3.t4m.cn/applink.js"></script>
	

	
	

/*
 * MobLink 支持数组=>MobLink([...]) 和对象=>MobLink({...})
 * 页面上有多个元素需要跳转时使用数组方式,仅单个元素时可以使用对象的方式进行初始化
 * el: 表示网页上Element的id值,该字段为空或者不写则表示MobLink默认浮层上的打开按钮(注意:必须为元素id,以#开头)
 * path: 对应App里的路径
 * params: 网页需要带给客户端的参数
 */
    <script type="text/javascript">
        MobLink(
                {
                el: "",
                path: "demo/b",
                params: {
                    key1: "value_one",
                    key2: "value_two",
                }
            }
        );
    </script>
  </body>
</html>