<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>甩甩乐</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="https://res.cdn.openinstall.io/apk_icon/yo0vvr/2439709964441881842-1559183822935.png" rel="apple-touch-icon-precomposed" />

<link rel="stylesheet" href='https://res.cdn.openinstall.io/api_res/css/style.css' />
<style type="text/css">

</style>
</head>
<body>
<div class="content channel-page">
  <div class="page-index">
    <div style="padding-top: 20px;padding-left:10px">
      <p style="line-height:1.3rem;font-size:1.6rem;">
        <span style="color: green">甩甩乐</span>
      </p>
    </div>
    <div class="udid-content channel-content">
      <img style="width: 72px; height: 72px" alt="" src="https://res.cdn.openinstall.io/apk_icon/yo0vvr/2439709964441881842-1559183822935.png" />
      <p style="font-size:1.6rem;margin:2px auto;">甩甩乐</p>
    </div>
    <div class="channel-title">
</div>
  <script type="text/javascript" id="_openinstall_banner" src="//openinstall.io/openinstall.js?id=1358687601654731944"></script>

  </div>
</div>

</body>
</html>