{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }

    #page {
        width: 97%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }
</style>

{/block}

<body>

    <div class="childrenBody">
        <blockquote class="layui-elem-quote news_search">
            <form class="layui-form" action="{:url('admin/Star/prize_search')}">
                <div class="seach">
                    <div class="seach_list">
                        <div class="seach_laber">输入搜索：</div>
                        <div class="seach_input">
                            <input type="text" name="goods_name" lay-verify="title" autocomplete="off"
                                placeholder="奖品名称" class="layui-input">
                        </div>
                    </div>

                    <button class="layui-btn" type="submit" id="seach">搜索</button>
                </div>
            </form>
        </blockquote>

        <a class="layui-btn layui-btn-danger batchDel" href="prize_add">+添加奖品</a>

        <div class="layui-form news_list">
            <table class="layui-table">
                <colgroup>
                    <col width="3%">

                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
                        <th>商品名称</th>
                        <th>奖品图片</th>
                        <th>商品类型</th>
                        <th>消耗量光值</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    {if $data}
                    {volist name="data" id="vo"}
                    <tr>
                        <td><input type="checkbox" name="" lay-skin="primary" lay-filter="choose" data-id="{$vo['id']}">
                        </td>
                        <td>
                            {if $vo['goods_name']}
                            {$vo['goods_name']}
                            {else}
                              N/F
                            {/if}
                        </td>
                        <td>
                                {if $vo['goods_image']}
                                   <div class="tdimg"><img src="{$vo['goods_image']}" /></div>
                                {else}
                                  N/F
                                {/if}
                                
                        </td>
                        <td>
                            {if $vo['goods_type']=='1'}
                              实物
                            {else}
                               红包
                            {/if}
                        </td>
                        <td>{$vo['goods_value']}</td>
                        <!-- <td class="td-status">
                            <input type="checkbox" class="Status" name="status" value="" lay-skin="switch"
                                lay-text="上架|下架" lay-filter="isShows" checked data-id="">

                        </td> -->
                        <td>
                            <a class="layui-btn layui-btn-mini edit" href="{:url('admin/Star/prize_edit',['id'=>$vo['id']])}"> 编辑
                            </a>
                            <a href="{:url('admin/Star/prize_del',['id'=>$vo['id']])}" onclick="if(!confirm('确定要删除吗？')) return false"
                                class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i
                                    class="layui-icon"></i> 删除</a>
                        </td>
                    </tr>
                    {/volist}
                    {/if}
                    <!-- <tr>
                            <td><input type="checkbox" name="" lay-skin="primary" lay-filter="choose" data-id="">
                            </td>
                            <td>100001</td>
                            <td>远古巨鲲</td>
                            <td>
                                <div class="tdimg"><img src="" /></div>
                            </td>
                            <td>1</td>
                            <td>1</td>
                            <td class="td-status">
                                <input type="checkbox" class="Status" name="status" value="" lay-skin="switch"
                                    lay-text="上架|下架" lay-filter="isShows" checked data-id="">
    
                            </td>
                            <td>1</td>
                            <td>
                                <a class="layui-btn layui-btn-mini edit" href="{:url()}"> 编辑
                                </a>
                                <a href="{:url()}" onclick="if(!confirm('确定要删除吗？')) return false"
                                    class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i
                                        class="layui-icon"></i> 删除</a>
                            </td>
                        </tr> -->

                </tbody>
            </table>
            <div id="page">
                <div class="opation" style="width: 200px; float: left;">
                    <select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
                        <option check="" value="0">请选择</option>
                        <!--<option value="1">商品上架</option>-->
                        <!--<option value="2">批量下架</option>-->
                        <option value="3">移入回收站</option>
                    </select>
                </div>
                <div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
                    <button type="button" id="opration_btu"
                        style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
                    </button>
                </div>
                {$listpage}
            </div>
        </div>
    </div>

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">

        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //批量操作
            var data_id = [];
            $("#opration_btu").click(function () {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                        ,
                        closeBtn: 0
                    });
                } else if (opration_val == 3) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        var child = $('.layui-form-checked');
                        for (var i = 0; i < child.length; i++) {
                            var id = child.eq(i).prev().attr('data-id');
                            data_id.push(id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/Star/prize_dels')}",
                            data: {
                                "id": data_id,
                            },
                            success: function (data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function (data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });

            //全选
            form.on('checkbox(allChoose)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });
            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function (data) {
                // console.log($(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0))

                var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"]):checked');
                if (childChecked.length === child.length) {
                    $(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = false;
                }
                form.render('checkbox');
            })

            // 奖品上下架ajax修改
            form.on('switch(isShows)', function (data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{:url()}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function (data) {
                        console.log("成功")
                    },
                    error: function (data) {
                        console.log("错误")
                    }
                });

            })
        })
    </script>

    {/block}

</body>

</html>