{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }

    #page {
        width: 97%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }
    td > a {
        color: rgb(26, 188, 156)
    }
</style>

{/block}

<body>

    <div class="childrenBody">
        <blockquote class="layui-elem-quote news_search">
            <form class="layui-form" action="{:url('admin/Member/member_search')}">
                <div class="seach">
                    <div class="seach_list">
                        <div class="seach_laber">用户账号</div>
                        <div class="seach_input">
                            <input type="text" name="account" lay-verify="title" autocomplete="off"
                                placeholder=" 用户账号" class="layui-input">
                        </div>
                    </div>
                    <div class="seach_list">
                            <div class="seach_laber">上级邀请人</div>
                            <div class="seach_input">
                                <input type="text" name="help_account" lay-verify="title" autocomplete="off"
                                    placeholder=" 用户账号" class="layui-input">
                            </div>
                        </div>
                    <div class="seach_list" style="width:230px;">
						<div class="seach_laber">开始时间</div>
						<div class="seach_input">
							<span class="time">
								<input name="start_time" type="text" class="text datetimepicker layui-input"
									readonly="readonly" id="beginTime" value="" style="width:150px;">
							</span>
						</div>
					</div>
					<div class="seach_list" style="width:230px;">
						<div class="seach_laber">结束时间</div>
						<div class="seach_input">
							<span class="time">
								<input name="end_time" type="text" class=" text datetimepicker layui-input"
									readonly="readonly" id="endTime" value="" style="width:150px;">
							</span>
						</div>
					</div>

                    <button class="layui-btn" type="submit" id="seach">搜索</button>
                </div>
            </form>
        </blockquote>


        <div class="layui-form news_list">
            <table class="layui-table">
                <colgroup>
                    <col width="3%">

                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
                        <th>用户账号(手机号)</th>
                        <th>上级邀请人账号(手机号)</th>
                        <th>用户昵称</th>
                        <th>头像</th>
                        <th>性别</th>
                        <th>会员级别</th>
                        <th>星光值</th>
                        <th>地址</th>
                        <th>加入时间</th>
                        <th>账户启用状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    {volist name="data" id="vo"}
                    <tr>
                        <td><input type="checkbox" name="" lay-skin="primary" lay-filter="choose" data-id="{$vo['id']}">
                        </td>
                        <td>{$vo['account']}</td>
                        <td>
                            {if $vo['pid']=='0'}
                            N/F
                            {else}
                            {$vo['pid']|get_upuser_by_pid=###}
                            {/if}
                        </td>
                        <td>{$vo['name']}</td>
                        <td><img  src="__STATIC__/{$vo['head_pic']}" style="width: 50px;height:50px; "/></td>
                        <td>
                            {if $vo['sex']=='1'}
                              男
                              {else}
                              女
                              {/if}
                        </td>
                        <td class="td-status">
                                {if $vo['member_type']=='1'}
                                   普通
                                {else} 
                                   vip
                                {/if}
                        </td>
                        <td>{$vo['star_value']}</td>
                        <td>{$vo['address']}</td>
                        <td>{$vo['join_time']|date="Y-m-d",###}</td>
                        <td class="td-status">
                                {if $vo.is_use == 1}
                                <input type="checkbox" class="Status" name="status" value="{$vo.is_use}" lay-skin="switch"
                                    lay-text="是|否" lay-filter="isShows" checked data-id="{$vo.id}">
                                {else}
                                <input type="checkbox" class="Status" name="status" value="{$vo.is_use}" lay-skin="switch"
                                    lay-text="是|否" lay-filter="isShows" data-id="{$vo.id}">
                                {/if}
                            </td>
                        <td>
                            <a class=" layui-btn-mini edit" href="{:url('admin/Member/member_list_edit',['id'=>$vo['id']])}"> 编辑</a>
                            <a href="{:url('admin/Member/member_del',['id'=>$vo['id']])}" onclick="if(!confirm('确定要删除吗？')) return false"
                                class=" news_del" data-id="undefined"> 删除</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div id="page">
                <div class="opation" style="width: 200px; float: left;">
                    <select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
                        <option check="" value="0">请选择</option>
                        <!--<option value="1">商品上架</option>-->
                        <!--<option value="2">批量下架</option>-->
                        <option value="3">移入回收站</option>
                    </select>
                </div>
                <div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
                    <button type="button" id="opration_btu"
                        style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
                    </button>
                </div>
                {$listpage}
            </div>

        </div>

    </div>



    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">

        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //批量操作
            var data_id = [];
            $("#opration_btu").click(function () {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                        ,
                        closeBtn: 0
                    });
                } else if (opration_val == 3) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        var child = $('.layui-form-checked');
                        for (var i = 0; i < child.length; i++) {
                            var id = child.eq(i).prev().attr('data-id');
                            data_id.push(id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/Member/member_dels')}",
                            data: {
                                "id": data_id,
                            },
                            success: function (data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function (data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });

            //全选
            form.on('checkbox(allChoose)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });
            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function (data) {
                // console.log($(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0))

                var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"]):checked');
                if (childChecked.length === child.length) {
                    $(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = false;
                }
                form.render('checkbox');
            })

        })
    </script>

    {/block}

</body>

</html>