{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }

    .ziji {
        width: auto;
    }

    .ziji>input {
        width: 150px;
    }

    .m_r {
        margin-right: 50px;
    }

    .m_t {
        margin-top: 50px;
    }

    .clone {
        display: flex;
        margin-top: 15px;
    }

    .percent {
        font-size: 23px;
        font-weight: 800;
    }

    .one_more {
        padding: 0;
        width: 500px;
        text-align: center;
        line-height: 30px;
        color: rgb(14, 144, 210);
        border: 1px solid rgb(14, 144, 210);
        margin-top: 20px;
        margin-left: 360px;
    }

    .img_x {
        width: 20px;
        height: 20px;
    }

    .layui-btn {
        border-radius: 6px;
        height: 50px;
    }

    .layui-form-lists .layui-btn {
        width: 170px;
    }

    .layui-btn-normal {
        margin-right: 150px;
    }

    .layui-form-item {
        margin-left: 250px;
        margin-top: 80px;
    }

    .del_div {
        display: inline;
    }

    .one_more:hover {
        cursor: pointer;
    }

    .del_div:hover {
        cursor: pointer;
    }

    .layui-form-checkbox {
        margin-top: 5px;
    }
</style>

{/block}

<body>
    {block name="content"}
    <form class="layui-form layui-form-lists" action="{:url('admin/Tactics/free_tactics_do')}" method="post"
        enctype="multipart/form-data">
        <blockquote class="layui-elem-quote news_search">
            <div class="seach_laber">
                免单策略
            </div>
        </blockquote>
        {if $tactics1}
        <div class="oneself m_t">
            {volist name="$tactics1" id="vo1"}
            <div class="form-item" style="margin-top: 15px;">
                {if $key=='0'}
                <label class="form-label" style="width:20%">自己免单金额和概率</label>
                {else}
                <label class="form-label" style="width:20%"></label>
                {/if}
                <input name="one_{$key}[tactics_key]" value="free_tactics_own" style="display: none">
                <input name="one_{$key}[id]" value="{$vo1.id}" style="display: none">
                <div class="form-input ziji">
                    <input type="checkbox" name="one_{$key}[status]" value="1" lay-filter="choose1"  checked=''>
                </div>
                <div class="form-input ziji m_r">
                    <input type="text" name="one_{$key}[percent]" value="{$vo1.tactics_pre}" lay-verify="title"
                        autocomplete="off" placeholder="" class="layui-input">
                    <span class="percent">%</span>
                    <div class="tips">
                        <span class="red">*</span>0 ~ 100,表示减免单次甩费的百分比
                    </div>
                </div>
                <div class="form-input ziji">
                    <input type="text" name="one_{$key}[probability]" value="{$vo1.tactics_num}" lay-verify="title"
                        autocomplete="off" placeholder="" class="layui-input">
                    <div class="tips">
                        <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                    </div>
                </div>
            </div>
            {/volist}
        </div>
        {else}
        <div class="oneself m_t">
            <input name="one_0[tactics_key]" value="free_tactics_own" style="display: none">
            <input name="one_0[id]" value="" style="display: none">
            <div class="form-item" style="margin-top: 15px;">
                <label class="form-label" style="width:20%">自己免单金额和概率</label>
                <div class="form-input ziji">
                    <input type="checkbox" name="one_0[status]" lay-filter="choose1"  checked=''>
                </div>
                <div class="form-input ziji m_r">
                    <input type="text" name="one_0[percent]" lay-verify="title" autocomplete="off" placeholder=""
                        class="layui-input">
                    <span class="percent">%</span>
                    <div class="tips">
                        <span class="red">*</span>0 ~ 100,表示减免单次甩费的百分比
                    </div>
                </div>
                <div class="form-input ziji">
                    <input type="text" name="one_0[probability]" lay-verify="title" autocomplete="off" placeholder=""
                        class="layui-input">
                    <div class="tips">
                        <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                    </div>
                </div>
            </div>
        </div>
        {/if}

        <div class="one_more" id="one_more">添加一档</div>

        <div class="help m_t">
            {if $tactics2}
            {volist name="tactics2" id="vo2" }
            <input name="help_{$key}[tactics_key]" value="free_tactics_other" style="display: none">
            <input name="help_{$key}[id]" value="{$vo2['id']}" style="display: none">
            <div class="form-item" style="margin-top:15px;">
                    {if $key=='0'}
                    <label class="form-label" style="width:20%">自己免单金额和概率</label>
                    {else}
                    <label class="form-label" style="width:20%"></label>
                    {/if}
                <div class="form-input ziji">
                    <input type="checkbox" name="help_{$key}[status]"  lay-filter="choose1" value="1"  checked=''>
                </div>
                <div class="form-input ziji m_r">
                    <input type="text" name="help_{$key}[percent]" value="{$vo2['tactics_pre']}" lay-verify="title" autocomplete="off" placeholder=""
                        class="layui-input">
                    <span class="percent">%</span>
                    <div class="tips">
                        <span class="red">*</span>0 ~ 100,表示减免单次甩费的百分比
                    </div>
                </div>
                <div class="form-input ziji">
                    <input type="text" name="help_{$key}[probability]" value="{$vo2['tactics_num']}" lay-verify="title" autocomplete="off" placeholder=""
                        class="layui-input">
                    <div class="tips">
                        <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                    </div>
                </div>
            </div>
            {/volist}
            {else}
            <input name="help_0[tactics_key]" value="free_tactics_other" style="display: none">
            <input name="help_0[id]" value="" style="display: none">
            <div class="form-item" style="margin-top:15px;">
                    <label class="form-label" style="width:20%">帮别人甩免单金额和概率</label>
                    <div class="form-input ziji">
                        <input type="checkbox" name="help_0[status]" lay-filter="choose1" value="1"  checked=''>
                    </div>
                    <div class="form-input ziji m_r">
                        <input type="text" name="help_0[percent]" lay-verify="title" autocomplete="off" placeholder=""
                            class="layui-input">
                        <span class="percent">%</span>
                        <div class="tips">
                            <span class="red">*</span>0 ~ 100,表示减免单次甩费的百分比
                        </div>
                    </div>
                    <div class="form-input ziji">
                        <input type="text" name="help_0[probability]" lay-verify="title" autocomplete="off" placeholder=""
                            class="layui-input">
                        <div class="tips">
                            <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                        </div>
                    </div>
                </div>

            {/if}
        </div>
        <div class="one_more" id="one_help">添加一档</div>

        <div class="layui-form-item" style="width:100%;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit" id="submit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary"
                    onClick="javascript :history.back(-1);">返回</button>
            </div>

        </div>
    </form>
    {/block}
    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script src="__STATIC__/admin/common/js/vue.js"></script>
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], () => {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;

            form.on("checkbox(choose1)", function (data) {
                
                if(data.value == "1"){
                    $(this).val('0');
                    data.value = "0";
                } else { 
                    $(this).val('1');
                    data.value = "1";
                }
                form.render('checkbox');
            })


            var i = $('.oneself').find(":checkbox").length;
            var e = $('.help').find(":checkbox").length;
            $('#one_more').on('click', function () {
                let dhtml = "";
                dhtml = `<div class="form-item clone">
                                        <label class="form-label" style="width:20%"></label>
                                        <input name="one_${i}[tactics_key]" value="free_tactics_own" style="display: none">
                                        <input name="one_${i}[id]" value="" style="display: none">
                                        <div class="form-input ziji">
                                                <input type="checkbox" name="one_${i}[status]" value="0" lay-filter="choose1" >
                                                <input type="hidden" name="one_${i}[id]" value="" >
                                        </div>
                                        <div class="form-input ziji m_r">
                                            <input type="text" name="one_${i}[percent]" lay-verify="title" autocomplete="off" placeholder=""
                                                class="layui-input">
                                            <span class="percent">%</span>
                                            <div class="tips">
                                                <span class="red">*</span>0 ~ 100,表示减免单次甩费的百分比
                                            </div>
                                        </div>
                                        <div class="form-input ziji">
                                            <input type="text" name="one_${i}[probability]" lay-verify="title" autocomplete="off" placeholder=""
                                                class="layui-input" style="margin-right: 110px;">
                                            <div class="del_div" id="del_oneself"><img src="__STATIC__/admin/index/img/u1306.png" class="img_x"></div>
                                            <div class="tips">
                                                <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                                            </div>
                                        </div>
                                    </div>`;
                $('.oneself').append(dhtml);

                $(document).on('click', '#del_oneself', function () {
                    $(this).parents('.clone').remove();
                });
                form.render();
                i = i + 1;

            })
            $('#one_help').on('click', function () {
                let dhtml = "";
                dhtml = `<div class="form-item clone">
                                    <label class="form-label" style="width:20%"></label>
                                    <input name="help_${e}[tactics_key]" value="free_tactics_other" style="display: none">
                                        <input name="help_${e}[id]" value="" style="display: none">
                                    <div class="form-input ziji">
                                        <input type="checkbox" name="help_${e}[status]" value="0" lay-filter="choose1" >
                                    </div>
                                    <div class="form-input ziji m_r">
                                        <input type="text" name="help_${e}[percent]" lay-verify="title" autocomplete="off" placeholder=""
                                            class="layui-input">
                                        <span class="percent">%</span>
                                        <div class="tips">
                                            <span class="red">*</span>0 ~ 100,表示减免单次甩费的百分比
                                        </div>
                                    </div>
                                    <div class="form-input ziji">
                                        <input type="text" name="help_${e}[probability]" lay-verify="title" autocomplete="off" placeholder=""
                                            class="layui-input"  style="margin-right: 110px;">
                                        <div class="del_div" id="del_help"><img src="__STATIC__/admin/index/img/u1306.png" class="img_x"></div>
                                        <div class="tips">
                                            <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                                        </div>
                                    </div>
                                    </div>`;
                $('.help').append(dhtml);
                $(document).on('click', '#del_help', function () {
                    $(this).parents('.clone').remove();
                });
                form.render();
                e = e + 1;
            })

            form.render();
        })



    </script>

    {/block}

</body>

</html>