{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }

    .form-input {
        width: auto;
    }

    .form-input > input {
        width: 130px;
    }

    .m_r {
        margin-right: 50px;
    }

    .m_t {
        margin-top: 50px;
    }
    .p_l {
        padding-left: 6px;
    }

    .layui-btn {
        border-radius: 6px;
        height: 50px;
    }

    .layui-form-lists .layui-btn {
        width: 170px;
    }

    .layui-btn-normal {
        margin-right: 150px;
    }

    .layui-form-item {
        margin-left: 200px;
        margin-top: 80px;
    }
   
</style>

{/block}

<body>
    {block name="content"}
    <div id="app">
        <form class="layui-form layui-form-lists" action="{:url('admin/Tactics/old_man_tactics_do')}" method="post" enctype="multipart/form-data">
            <blockquote class="layui-elem-quote news_search">
                <div class="seach_laber">
                    老人帮甩策略
                </div>
            </blockquote>

            <div class="form-item m_t">
                <label class="form-label" style="width:20%">老人帮甩</label>
                <input type="hidden" name="sss0[tactics_key]" value="old_man_tactics_own">
                <input type="hidden" name="sss0[id]" value="{$tactics['id']}">
                <div class="form-input m_r">
                    <input type="text" name="sss0[tactics_num]" value="{$tactics['tactics_num']}" lay-verify="title" autocomplete="off" placeholder="  请输入次数"
                    class="layui-input">
                    <span class="red">/当天</span>
                    <div class="tips"><span class="red">*</span>该用户拉来一个老人（有开甩记录就算老客，没有记录的就是新客），帮他甩，每拉一个老人，他
                    <span class="red">当天</span>针对该商品可多甩次数</div>
                </div>
            </div>

            

            <div class="layui-form-item" style="width:100%;">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" type="submit" id="submit">保存</button>
                    <button type="button" class="layui-btn layui-btn-primary"
                        onClick="javascript :history.back(-1);">返回</button>
                </div>

            </div>
        </form>
    </div>
    {/block}
    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], () =>  {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
        })



    </script>

    {/block}

</body>

</html>